@import "~apps/health-management/src/scss/base/mixins";
@import "~apps/health-management/src/scss/base/colors";

h2, h3, h4, h5 {
    @include semi-strong-text;
  }
  
  h1, .h1 {
    font-size: 36px;
  }
  
  h2, .h2 {
    font-size: 30px;
  }
  
  h3, .h3 {
    font-size: 24px;
  }
  
  h4, .h4 {
    font-size: 18px;
  }
  
  h5, .h5 {
    font-size: 16px;
  }
  
  h6, .h6 {
    font-size: 14px;
  }