.bb-layout {
    height: 100%;
    .header {
        border-top: 0.001em solid rgba(255, 123, 0, 0.25);
        border-bottom: 1px solid rgba(255, 123, 0, 1);
        img {
            height: 30px;
            margin-left: 50px;
            margin-top: 10px;
        }
    }
    
  }