.login-form.center-wrapper {
    width: 380px;
    margin: 0 auto; }
  
  .login-form .brdr {
    background: #eeeeee;
    border: 1px solid; }
  
  .login-form .txt-branding {
    font-size: 28px;
    font-weight: normal; }
  
  .login-form label {
    font-size: 13px;
    display: block;
    color: #3c3c3c;
    font-weight: bold;
    line-height: 20px;
    box-sizing: border-box;
    margin-bottom: 0; }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    border: 1px solid #4b72a2;
    margin: 2px 0 15px;
    padding: 5px;
    text-transform: uppercase; }
  
  .login-form div.inside {
    background: url(../../../assets/login-lock.gif) 300px 20px no-repeat; 
  }
  
  .login-form ul {
    padding: 20px;
    margin: 0; }
    .login-form ul li {
      list-style: none; }
  
  .login-form #submit-search {
    margin: 20px 0 0;
    padding: 5px 15px; }